/* Botao Iniciar da capa */
.btInit {
  font-family:    "Frutiger Bold BT";
  font-weight:    bold;
  font-style:     normal;
  font-size:      33px;
  color:          #FFFFFF;
  letter-spacing: -1px;
  leading:        0px;
}

.dashboardButton {
  font-family:    "Frutiger BT";
  font-size:      12px;
  color:          #FFFFFF;
  letter-spacing: 0px;
  leading:        0px;
}

.dashboardButtonOver {
  font-family:    "Frutiger Bold BT";
  font-weight:    bold;
  font-size:      12px;
  color:          #FFFFFF;
  letter-spacing: 0px;
  leading:        0px;
}

.buttonTitle {
  font-family:    "Frutiger BT";
  font-size:      12px;
  color:          #FFFFFF;
  letter-spacing: 0px;
  leading:        0px;
}

.buttonTitleOver {
  font-family:    "Frutiger Bold BT";
  font-weight:    bold;
  font-size:      12px;
  color:          #FFFFFF;
  letter-spacing: 0px;
  leading:        0px;
}

.bButton {
  font-family:    "Frutiger BT";
  font-size:      10px;
  color:          #FFFFFF;
  letter-spacing: 0px;
  leading:        0px;
}

.bButtonOver {
  font-family:    "Frutiger Bold BT";
  font-weight:    bold;
  font-size:      10px;
  color:          #FFFFFF;
  letter-spacing: 0px;
  leading:        0px;
}

.button {
  font-family:    "Univers";
  font-size:      10px;
  color:          #333333;
  letter-spacing: -0.2px;
  leading:        0px;
}

.buttonOver {
  font-family:    "Univers Bold";
  font-weight:    bold;
  font-size:      10px;
  color:          #FFFFFF;
  letter-spacing: -0.2px;
  leading:        0px;
}

btCheck {
  font-family:    "Frutiger Bold BT";
  font-weight:    bold;
  font-size:      14px;
  color:          #FFFFFF;
  letter-spacing: -0.1px;
  leading:        -2px;
}

