/* -------- COMPONENTS -------- */
.btn {
  &-default {
    color:       $btn-default-color;
    font-weight: $btn-font-weight;
  }

  &-primary {
    color:       $btn-primary-color;
    font-weight: $btn-font-weight;
  }

  &-success {
    color:       $btn-success-color;
    font-weight: $btn-font-weight;
  }

  &-info {
    color:       $btn-info-color;
    font-weight: $btn-font-weight;
  }

  &-warning {
    color:       $btn-warning-color;
    font-weight: $btn-font-weight;
  }

  &-danger {
    color:       $btn-danger-color;
    font-weight: $btn-font-weight;
  }
}

.breadcrumb {
  color:       $brand-primary;
  font-size:   $font-size-small;
  font-weight: bold;
}
/* -------------- */