// BODY TEXT
p {
  font-family: $font-family-base;
  font-size:   $font-size-base;
  color:       $text-color;
}

.p {
  &-small {
	font-size: $font-size-small;

	&-inverse {
	  font-size: $font-size-small;
	  color:     $text-color-inverse;
	}
  }

  &-large {
	font-size: $font-size-large;

	&-inverse {
	  font-size: $font-size-large;
	  color:     $text-color-inverse;
	}
  }

  &-inverse {
	color: $text-color-inverse;
  }
}

// HEADINGS
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  color:       $brand-primary;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

/* ------------------------ */
.copyright {
  font-size: $font-size-small;
  color: $brand-info;
}

/* ------------------------ */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}