//== Colors
//## Gray and brand colors for use across Bootstrap.

$gray-base:             #000;
$gray-darker:           lighten($gray-base, 13.5%); // #222
$gray-dark:             lighten($gray-base, 20%);   // #333
$gray:                  lighten($gray-base, 33.5%); // #555
$gray-light:            lighten($gray-base, 60%);   // #999
$gray-lighter:          lighten($gray-base, 93.5%); // #eee
$white:					#FFFFFF;

$brand-primary:         #0A5693;
$brand-success:         #009E77;
$brand-info:            #16BBEA;
$brand-warning:         #ECB02E;
$brand-danger:          #CC0038;


//## Settings for some of the most global styles.

$text-color:            $gray;
$text-color-inverse:	$white;

$link-color:            $brand-primary;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: underline;


//== Typography
$font-family-base:        "Roboto";
$font-family-alternate:   "Roboto Light";
$font-size-base:          13px;
$font-size-large:         floor(($font-size-base * 1.15)); // ~18px
$font-size-small:         floor(($font-size-base * 0.85)); // ~12px

$font-size-h1:            floor(($font-size-base * 3.25)); // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1-large:            floor(($font-size-base * 4.25));

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        	1.428571429; // 20/14
$letter-spacing-base: 		0px;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    $font-family-base;
$headings-font-weight:    500;
$headings-line-height:    1.1;
$headings-color:          #317EAC;

//== Buttons
$btn-font-weight:                normal;

$btn-default-color:              $text-color;
$btn-primary-color:              $white;
$btn-success-color:              $white;
$btn-info-color:                 $white;
$btn-warning-color:              $white;
$btn-danger-color:               $white;

$btn-link-disabled-color:        $gray-light;