/* MAIN EBOOK STYLESHEET */
p {
  font-family: "Roboto";
  font-size: 13px;
  color: #555555;
}

.p-small {
  font-size: 11px;
}
.p-small-inverse {
  font-size: 11px;
  color: #FFFFFF;
}
.p-large {
  font-size: 14px;
}
.p-large-inverse {
  font-size: 14px;
  color: #FFFFFF;
}
.p-inverse {
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Light";
  color: #0A5693;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 12px;
}

/* ------------------------ */
.copyright {
  font-size: 11px;
  color: #16BBEA;
}

/* ------------------------ */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.btn-default {
  color: #555555;
}

.btn-primary {
  color: #FFFFFF;
}

.btn-success {
  color: #FFFFFF;
}

.btn-info {
  color: #FFFFFF;
}

.btn-warning {
  color: #FFFFFF;
}

.btn-danger {
  color: #FFFFFF;
}
